@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace&display=swap");

* {
  background-color: black;
}

html{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.center {
  text-align: center;
}

.title {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("images/youtube-video-gif.gif");
  padding: 50px;
  margin: 0;
  border-bottom: solid #0b60b0;
  text-align: center;
}

.title h1 {
  color: #f0edcf;
  font-size: 400%;
  background: none;
  margin: 0px;
}

#subtitle {
  font-size: 30px;
}

.body {
  background-color: black;
}

.body h2 {
  margin: 30px 10%;
  width: auto;
  font-size: 225.5%;
  color: #f0edcf;
}

.body :visited{
    color: #60c1f5;
}

.body :link{
    color: #0b60b0;
}

.body p {
  color: #60c1f5;
  font-size: 130%;
  margin: 60px 20%;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.right{
    float: right;
}

.left{
    left: 0;
}

.marginless{
    margin: 0;
}

.formdiv:first-of-type{
    margin-top: 60px;
}

.formdiv{
    margin-top: 30px;
}

#introtext{
    margin: 0;
    right: 0;
}

.inputmessage{
    height: 100px;
    width: 500px;
}

.submitbutton{
    width: 80px;
    height: 25px;
}

::placeholder{
    font-size: 12.5px;
    color: #f0edcfcc;
}

.inputmessage::placeholder{
    position: absolute;
    top: 2.5px;
    left: 3.5px;
}

label {
    font-size: 25px;
    color: #f0edcf;
    font-family: Oxanium;
}

input {
    width: 200px;
    height: 15px;
    border-color: #f0edcf;
    color: #f0edcf;
    font-family: monospace;
}

.topnav {
  text-align: center;
  background: black;
  padding: 10px;
}

.topnav a {
  text-decoration: none;
  font-family: "Oxanium";
  font-size: large;
  color: #16161a;
  background-color: #f0edcf;
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 2.5px solid #0b60b0;
  border-radius: 10px;
}

.topnav :hover{
    border: solid 3.5px #B05B0B;
}

.topnav :active{
    border: solid 2.5px #60c1f5;
}

.topnav{
    position: sticky;
    top: 0;
    border-bottom: solid #0b60b0;
}

.bottomnav {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.bottomnav a {
  text-decoration: none;
  margin: 5px;
}

#portrait {
  height: 350px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxanium";
}

p {
  font-family: "Trispace";
}
