@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

*{
    background-color: black;
}

nav{
    text-align: center;
    background: black;
    padding: 10px;
    border-bottom: #0B60B0 solid;
}

a{
    text-decoration: none;
    font-family: 'Oxanium';
    font-size: large;
    color: #16161a;
    background-color: #F0EDCF;
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 2.5px solid #0B60B0;
    border-radius: 10px;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    color: #F0EDCF;
    font-family: 'Oxanium';
}

h1{
    font-size: 300%;
}

hr{
    border: 0px;
    height: 1.5px;
    background-color: #0B60B0;
}

p{
    font-family: 'Trispace';
    color: #60c1f5;
    font-size: 130%;
}