@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace&display=swap");

* {
  background-color: black;
}

.center {
  text-align: center;
}

.title {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("images/youtube-video-gif.gif");
  padding: 50px;
  margin: 0;
  border-bottom: solid #0b60b0;
  border-top: solid #0b60b0;
  text-align: center;
}

.title h1 {
  color: #f0edcf;
  font-size: 400%;
  background: none;
  margin: 0px;
}

#subtitle {
  font-size: 30px;
}

.body {
  background-color: black;
}

.body h2 {
  margin: 30px 10%;
  width: auto;
  font-size: 225.5%;
  color: #f0edcf;
}

.body :visited{
    color: #60c1f5;
}

.body :link{
    color: #0b60b0;
}

.body p {
  color: #60c1f5;
  font-size: 130%;
  margin: 60px 20%;
}

.body span {
  text-align: center;
}

nav {
  text-align: center;
  background: black;
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-family: "Oxanium";
  font-size: large;
  color: #16161a;
  background-color: #f0edcf;
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 2.5px solid #0b60b0;
  border-radius: 10px;
}

nav :hover{
    border: solid 3.5px #B05B0B;
}

nav :active{
    border: solid 2.5px #60c1f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxanium";
}

p {
  font-family: "Trispace";
}
